  body {
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      Meiryo,
      sans-serif;
  }

  img {
    width: 100%;
    height: auto;
  }
  /* 全体 */
  .sb-box {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
  }
  /* アイコン画像 */
  .icon-img {
    position: absolute;
    overflow: hidden;
    top: 0; /* 画像の位置を上から0に */
    width: 80px; /* 画像の幅 */
    height: 80px; /* 画像の高さ */
  }
  /* アイコン画像（左） */
  .icon-img-left {
    left: 0; /* 画像の位置を左から0に */
  }
  /* アイコン画像（右） */
  .icon-img-right {
    right: 0; /* 画像の位置を右から0に */
  }
  /* アイコン画像 */
  .icon-img img {
    border-radius: 50%; /* 画像を丸く表示する */
    border: 2px solid #eee; /* 画像の縁取りの太さとカラー */
  }
  /* アイコンネーム */
  .icon-name {
    position: absolute;
    width: 80px; /* ネームの最大幅を画像と同じに */
    text-align: center; /* ネームの位置をセンターに */
    top: 83px; /* ネームの位置を上から83に */
    color: #777; /* ネームのカラー */
    font-size: 10px; /* ネームのフォントサイズ */
  }
  /* アイコンネーム（左） */
  .icon-name-left {
    left: 0; /* ネームの位置を左から0に */
  }
  /* アイコンネーム（右） */
  .icon-name-right {
    right: 0; /* ネームの位置を右から0に */
  }
  /* 吹き出し */
  .sb-side {
    position: relative;
    float: left;
    margin: 0 105px 40px 105px; /* 吹き出しの上下左右の余白 */
  }
  .sb-side-right {
    float: right;
  }
  /* 吹き出し内のテキスト */
  .sb-txt {
    position: relative;
    border-radius: 6px; /* 吹き出しを角丸に */
    background: #fff; /* 吹き出しの背景色 */
    color: #333; /* 吹き出し内のテキストのカラー */
    font-size: 15px; /* 吹き出し内のフォントサイズ */
    line-height: 1.7; /* 吹き出し内のテキストが2行以上になった時の行間 */
    padding: 18px; /* 吹き出し内の上下左右の余白 */
    white-space: pre-wrap;
  }
  .sb-txt > p:last-of-type {
    padding-bottom: 0; /* 吹き出し内のテキストを改行した場合、最後のpタグにpadding-bottomをつけない */
    margin-bottom: 0; /* 吹き出し内のテキストを改行した場合、最後のpタグにmargin-bottomをつけない */
  }
  /* 吹き出しの三角 */
  .sb-txt:before {
    content: "";
    position: absolute;
    border-style: solid;
    top: 16px; /* 吹き出し内の三角の位置 */
    z-index: 3;
  }
  .sb-txt:after {
    content: "";
    position: absolute;
    border-style: solid;
    top: 15px; /* beforeより-1px */
    z-index: 2; /* beforeより-1 */
  }
  .sb-txt-left {
    border: 2px solid #d1d1d1;
  }
  /* 吹き出しの三角（左） */
  .sb-txt-left:before {
    left: -10px;
    border-width: 7px 10px 7px 0;
    border-color: transparent #d1d1d1 transparent transparent; /* 背景色と同じカラーに */
  }
  .sb-txt-left:after {
    left: -10px; /* beforeより-3px */
    border-width: 8px 10px 8px 0; /* beforeより上下+1px */
    border-color: transparent #eee transparent transparent; /* 縁取りと同じカラーに */
  }
  .sb-txt-right {
    border: 2px solid #5bc8ac;
  }
  /* 吹き出しの三角（右） */
  .sb-txt-right:before {
    right: -10px;
    border-width: 7px 0 7px 10px;
    border-color: transparent transparent transparent #5bc8ac; /* 背景色と同じカラーに */
  }
  .sb-txt-right:after {
    right: -10px; /* beforeより-3px */
    border-width: 8px 0 8px 10px; /* beforeより上下+1px */
    border-color: transparent transparent transparent #fff; /* 縁取りと同じカラーに */
  }
  /* テキストエリア、送信ボタン④ */
  #bms_send {
    background-color:#eee;/*タイムラインの色と同じにする*/
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 48px;
    padding: 4px;
  }
  #bms_send_message{
      width: calc(100% - 75px);/*常に送信ボタンの横幅を引いたサイズに動的に計算*/
      line-height: 16px;
      height: 48px;
      padding: 14px 6px 0px 6px;/*文字がテキストエリアの中心になる様に隙間調整*/
      border: 1px solid #ccc;
      border-radius: 4px;/*角丸*/
      text-align: left;/*文字を左寄せ*/
      box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;/*内側に影を入れてテキストエリアらしくした*/
      box-sizing: border-box;/*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/

  }
  #bms_send_btn {
      width: 72px;
      height: 48px;
      font-size: 16px;
      line-height: 3em;
      float: right;/*bms_sendに対して右寄せ*/
      color: #fff;
      font-weight: bold;
      text-align: center;/*文字をボタン中央に表示*/
      border: 1px solid #bbb;
      border-radius: 4px;/*角丸*/
      box-sizing: border-box;/*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/
  }
  .able {
    background: #5bc8ac;
  }
  .disable {
    background: #bcbcbc;
  }
  .notice-box {
      width: 55%;
      margin: 0 auto 30px;
      margin-top: 30px;
      border: solid 3px #d6d6d6;
      border-radius: 20px;
  }
  .notice-txt {
      text-align: center;
      margin: 5px 0;
  }

  .display-none {
    display: none;
  }

  .show {
    display: block;
  }

  /* 767px（iPad）以下 */
  
  @media (max-width: 767px) {
    /* アイコン画像 */
    .icon-img {
      width: 60px; /* 画像の幅を-20px */
      height: 60px; /* 画像の高さを-20px */
    }
    /* アイコンネーム */
    .icon-name {
      width: 60px; /* 画像の幅に合わせて-20px */
      top: 62px; /* ネームの位置を上から62に */
      font-size: 9px; /* ネームのフォントサイズを-1px */
    }
    /* 吹き出し（左） */
    .sb-side-left {
      margin: 0 0 30px 78px; /* 吹き出し（左）の上下左右の余白を狭く */
    }
    /* 吹き出し（右） */
    .sb-side-right {
      margin: 0 78px 20px 0; /* 吹き出し（右）の上下左右の余白を狭く */
    }
    /* 吹き出し内のテキスト */
    .sb-txt {
      padding: 12px; /* 吹き出し内の上下左右の余白を-6px */
    }
    .notice-box {
      width: 90%;
    }
    .notice-txt {
      font-size: 10px;
    }
  }